div {
    max-width: 1200px;
    height: 1600px;
    margin: 10px;
    padding: 15px;
    background-color: aqua;
    border-radius: 30px;
    border: 4px solid rgb(247, 165, 179);
}
h1 {
    color: blue;
    background-color: pink;
    border: 3px solid red;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 30px;
    padding: 8px;
    text-align: center;
}
.one {
    max-width: 990%;
    height: 820px;
    padding: 5px;
    background-color: gray;
}
img {
    width: 750px;
    height: 800px;
    padding: 5px 50px;
    border: 4px solid rgba(116, 73, 73, 0.027);
}
.one:hover {
    max-width: 100%;
    height: 820px;
    padding: 5px;
    background-color: rgb(238, 200, 200);
}
p {
    font-size: 30px;
    color: blue;
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    letter-spacing: 3px;
    word-spacing: 7px;
}
p:hover {
    font-size: 30px;
    color: blue;
    background-color: rgb(201, 168, 206);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    letter-spacing: 3px;
    word-spacing: 7px;
}
h2 {
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: right;
    color: blueviolet;
}
